* {
    font-family: monospace;
    background-color: rgb(133, 153, 151);
    ;
}

h1 {
    text-align: center;
}

.card {
    border: 1px solid black;
    height: 50px;
    padding-top: 8px;
    margin-left: 25%;
    max-width: 50%;
    background-color: bisque;
}

select {
    background-color: rgb(171, 171, 226);
}

option {
    background-color: rgb(133, 153, 151);
}

.size {
    margin: 2px;
    border: 2px solid black;
    height: 30px;
    width: 100%;
    text-align: center;
}

.error-msg {
    text-align: center;
    color: red;
    animation-duration: 2ms;
    animation-name: bounce;
    animation-direction: var(--fa-animation-direction, alternate-reverse);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
}

@keyframes bounce {
    from {
        margin-left: 25%;
    }
    to {
        margin-left: 30%;
    }
}

.valid-msg {
    text-align: center;
    color: rgb(73, 243, 73);
}