<form [formGroup]="calendarForm">
  <h1>DropDown Calendar for Date of Birth</h1>
  <div>
    <!-- <input formControlName="input" type="text"> -->
    <div class="row col-md-12 card">
      <div class="">
        <select class="size" formControlName="date">
          <option value="" selected>Select Date</option>
          <option *ngFor="let date of dates" value={{date}}>{{date}}</option>
        </select>
      </div>
      <div class="">
        <select class="size" formControlName="month">
          <option value="" selected>Select Month</option>
          <option *ngFor="let month of months" value={{month}}>{{month}}</option>
        </select>
      </div>
      <div class="">
        <select class="size" formControlName="year">
          <option value="" selected>Select Year</option>
          <option *ngFor="let year of years" value={{year}}>{{year}}</option>
        </select>
      </div>
    </div>
    <div class="error-msg" *ngIf="calendarForm.controls['date'].invalid && calendarForm.controls['date'].touched">
      <!-- <div *ngIf="calendarForm.controls['date'].errors?.required"> -->
      <b> Invalid!!!</b>
      <!-- </div> -->
    </div>
    <div class="valid-msg" *ngIf="calendarForm.controls['date'].valid && calendarForm.controls['date'].touched && calendarForm.controls['date'].touched && calendarForm.controls['date'].touched && calendarForm.controls['month'].valid && calendarForm.controls['year'].valid">
      <b><i class="fa-shake"> Valid!!!</i></b>
    </div>
  </div>
  <!-- <i class="fa fa-bars"></i> -->

  <!-- <i class="fa fa-cog fa-spin"></i> -->

</form>