<form [formGroup]="calendarForm">
  <h1>DropDown Calendar for Date of Birth</h1>
  <div class="row col-md-6 card">
    <!-- <input formControlName="input" type="text"> -->
    <div class="">
      <select class="size col-md-4" formControlName="dat">
        <option value="date">Select Date</option>
        <option *ngFor="let date of dates" value={{date}}>{{date}}</option>
      </select>
      </div>
  <div class="" >
      <select class="size col-md-4" formControlName="month">
        <option value="">Select Month</option>
        <option *ngFor="let month of months" value={{month}}>{{month}}</option>
      </select>
      </div>
  <div class="" >
      <select class="size col-md-4 " formControlName="year">
        <!-- <option value="year">Select Year</option> -->
        <option *ngFor="let year of years" value={{year}}>{{year}}</option>
      </select>
    </div>
  </div>
</form>